* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
}
body, html, section{
    height: 100%;
    width: 100%;
}

header, h1 {
    padding-top: 30px;
}
header {
    position: fixed;
    top:0;
    font-size: 30px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#507105, #adb603, 25%,  #EEA400, 80%, #E933BF);
}

article{
    display: inline-block;
}

.deck {
    height: 300px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(255, 0, 128);
}
.middle-container{
    width: 200px;
    margin-bottom: 51px;
}

.player-two-deck {
    box-shadow: 0 0 30px rgb(0, 255, 213)
}

.hidden{
    visibility: hidden;
}