* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* border: 1px solid red; */
    color: plum;
}

body, html{
    height: 100vh;
    width: 100%;
}
body {
    background: linear-gradient(grey, black);
}

h1, h3 {
    margin-top: 30px;
}
h1 {
    position: fixed;
    top:0;
}

section {
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
}

article{
    display: inline-block;
}

.deck {
    height: 300px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(66, 216, 253)
}

.player-two-deck {
    box-shadow: 0 0 30px rgb(253, 66, 107)
}

.hidden{
    visibility: hidden;
}